<% layout('/base') -%>

<br/>
<br/>
   <div class="hero-full-container background-image-container white-text-container" style="border-radius: 25px; background-image:url('https://s3-for-my-web.s3.eu-west-2.amazonaws.com/my-web/img-home.jpg');">
     <div class="overlay-gradient"></div>
     <div class="container">
       <div class="row">
         <div class="col-xs-12 col-md-7 col-md-offset-1">
           <div class="hero-full-wrapper">
             <div class="text-content">
               <h1>Maros Benadik</h1>
               <p>“Whenever you find yourself doubting how far you can go, just remember how far you have come. Remember everything you have faced, all the battles you have won, and all the fears you have overcome. ” — N. R. Walker</p>
              </div>
           </div>
         </div>
       </div>
     </div>
   </div>
